body{
    top: 0;
    padding: 0;
    min-height: 300vh;
    transition: all o,3s;
    font-family: 'Poppins', sans-serif;

}
.world{
  display: flex;
    width: 86%;
    height: 500px;
    margin-top: 60px;
    background-color: black;
    border-radius: 30px;
    margin-left: 7%;
}
.world .cup{
    width: 45%;
    margin-left: 60px;
    margin-top: 40px;

    
}
.world h1{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    line-height: 60px;
    font-size: 50px;
    
    
}
.world p{
    color: #ffffff;
    font-size: 12px;

}
.world a{
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;  
}
.world a:hover{
    background-color: aliceblue;
    color: #ff0000;
    padding: 15px 40px;
    font-size: 20px;
    font-weight: 600;
}
.messi{
    width: 45%;
    height:500px ;
    margin-left: 100px;

}
.messi img{
    width: 80%;
    height: 495px;
}
.belal{
    display: flex;
    width: 86%;
    margin-top: 80px;
    margin-left: 7%;
   
}
.text{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    width: 210px;
    height: 210px;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
}
.text div{
    display: flex;
    background-color: #ffffff;
    padding: 10px 30px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.text div:hover{
    background-color: #ff0000;
    color: #ffffff;
}
.group{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 20px;
    column-gap: 20px;
    margin-left: 20px;
    
}
.esha img{
    width: 260px;
    height: 155px;
}
.esha{
    width:260px;
    height:310px ;
    box-shadow: 0 1px 5px gray;
    border-radius: 5px;
}
.esha a{
    text-decoration: none;
    border: 1px solid black;
    padding: 3px 10px;
    border-radius: 5px;
    color: black;
    font-size: 14px;
    height: 500;
    
}
.esha a:hover{
    background-color:darkturquoise;
    color: #ffffff;
}
.transfar{
    margin: 15px;
}
.over{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 10px;

}
.esha div{
    margin-top: 13px;
}
.isra{
    margin-left: 20px;
}
.time img{
    width: 18px;
    height: 18px;
}
.chat img{
    width: 24px;
    height: 24px;
}
.time{
    display: inline-flex;
     font-size: 13px;
     font-weight: 400;
}
.chat{
    display: inline-flex;
     font-size: 13px;
     font-weight: 400;
     margin-left: 30px;
 }
.iqra{ 
    display: inline-flex;
}
.ww{
    margin-left: 8px;
}
footer{
    width: 100%;
    height:350px ;
    background-color: #000000;
    margin-top: 80px;
}
footer h1{
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
}
.goal{
    display: flex;
    height: 175px;
    justify-content: center;
    align-items: center;
}
hr{
    width: 86%;
    margin-left: 7%;
    background: #0808081a;
    height: 0px;
    color: hwb(0 26% 73%);

}
footer span a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #B9B9B9;
    font-style: medium;
    margin: 25px;
}
footer span{
    
    display: flex;
    justify-content: center;
    align-items: center;

}
@media only screen and (max-width: 650px) {
   
   body{
    background-color:#cbacb1 ;
   }
    .world {
        display: inline;
        
    }
  .belal{
        display: inline;
    }
.group{
    display: inline;
}

}
@media  only screen and (min-width:650px) {
    body{
        background-color:hsl(180, 45%, 59%);
    }
    .world {
        display: inline;
    }
  .belal{
        display: inline; 
       
    }
.group{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    margin-top: 30px;
    
}
    
}
@media only screen and (min-width: 980px) {
    body {background: #96dfdf;}
    .world{
        display: flex; }
        .belal{display: flex;}
        .group{
            display: grid;
            grid-template-columns:repeat(3,1fr);
        }
    
  } 
@media only screen and (min-width: 1200px) {
    body {background:white;
  }
}